@charset "UTF-8";
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

p {
  font-size: 1em; }

svg.smallchart {
  shape-rendering: crispEdges;
  overflow: visible; }
  svg.smallchart .axis--x path {
    /*display: none;*/ }
  svg.smallchart .axis path {
    opacity: .1;
    stroke-width: 1; }
  svg.smallchart .axis--y path {
    display: none; }
  svg.smallchart .tick line {
    opacity: .1;
    stroke-width: 1; }
  svg.smallchart .line.main {
    fill: none;
    stroke: #2c68fa;
    shape-rendering: geometricPrecision; }
  svg.smallchart .area.main {
    display: none;
    fill-opacity: 1;
    fill: #2c68fa; }

.hidden {
  display: none !important; }

.list-control {
  width: 100%;
  border: 1px solid rgba(44, 104, 250, 0.125);
  /* to make scrollbars always visible */ }
  .list-control input.searchbox {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(44, 104, 250, 0.125);
    border-radius: 2px;
    padding: 12px 20px 12px 12px; }
  .list-control .list-group-item {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border: 1px solid rgba(44, 104, 250, 0.125);
    border-radius: 0; }
    .list-control .list-group-item:first-child {
      border: none; }
    .list-control .list-group-item label.form-check-label {
      width: 100%; }
    .list-control .list-group-item .badge {
      float: right; }
  .list-control .ul-container {
    height: 300px;
    position: relative; }
  .list-control .always-visible.ps > .ps__rail-y {
    opacity: 0.6; }
  .list-control .ps > .ps__rail-y {
    z-index: 2; }
  .list-control .badge-primary {
    background-color: #FAA12D; }

.range-control {
  width: 100%;
  border: 1px solid rgba(44, 104, 250, 0.125); }
  .range-control span.placeholder {
    display: inline-block;
    color: grey;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(44, 104, 250, 0.125);
    border-radius: 2px;
    padding: 12px 20px 12px 12px; }
  .range-control .control-content {
    height: 300px; }
  .range-control svg {
    shape-rendering: crispEdges;
    overflow: visible; }
    .range-control svg .axis--x path {
      /*display: none;*/ }
    .range-control svg .axis path {
      opacity: .1;
      stroke-width: 1; }
    .range-control svg .tick line {
      opacity: .1;
      stroke-width: 1;
      display: none; }
    .range-control svg .line.main {
      display: none;
      fill: none;
      stroke: #2c68fa; }
    .range-control svg .area.main {
      fill-opacity: 1;
      fill: #2c68fa; }

.small_multiples_item {
  display: inline-block; }
  .small_multiples_item h3 {
    font-size: 1em;
    font-weight: 600; }

#badge_control {
  margin-top: 50px;
  border: 1px solid rgba(44, 104, 250, 0.125);
  counter-reset: index; }
  #badge_control .badge-row {
    padding-top: 1em;
    padding-bottom: 1em; }
    #badge_control .badge-row.countable:before {
      margin-top: 0.5em;
      width: 1em;
      text-align: center;
      border-radius: 25px;
      content: counters(index,".") " ";
      counter-increment: index; }
  #badge_control .badge-item {
    display: inline-block;
    border-radius: 4px;
    background-color: #FAA12D;
    color: white;
    min-height: 2.5em;
    line-height: 2.5em;
    min-width: 4em;
    margin-left: 1em;
    padding: 0 0.5em;
    cursor: pointer;
    vertical-align: middle; }
    #badge_control .badge-item:after {
      content: "×";
      margin-left: 0.5em;
      font-weight: 800;
      font-size: 1.5em;
      vertical-align: middle; }

#filter_chain .chain_control {
  margin-bottom: 2em; }

body {
  color: #424242; }

svg text {
  fill: #424242; }

.header-block {
  color: white;
  background-color: #2c68fa;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 5em; }
  .header-block .header-text-block {
    max-width: 600px; }
  .header-block h3 {
    font-weight: 800; }

h6.header-badge {
  display: inline-block;
  text-transform: uppercase;
  color: #2c68fa;
  border: 1px solid #2c68fa;
  padding-left: 0.2em;
  padding-right: 0.2em; }

/*# sourceMappingURL=application.css.map */
