@charset "UTF-8";
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

p {
  font-size: 1em; }

.line-chart-color-1 {
  stroke: #007852;
  background-color: #007852 !important; }

.line-chart-color-2 {
  stroke: #2c68fa;
  background-color: #2c68fa !important; }

.line-chart-color-3 {
  stroke: #f94a46;
  background-color: #f94a46 !important; }

.line-chart-color-4 {
  stroke: #ff2bfa;
  background-color: #ff2bfa !important; }

.line-chart-color-5 {
  stroke: #FFD800;
  background-color: #FFD800 !important; }

.order-colored-items :nth-child(1) {
  stroke: #007852 !important;
  background-color: #007852 !important; }
.order-colored-items :nth-child(2) {
  stroke: #2c68fa !important;
  background-color: #2c68fa !important; }
.order-colored-items :nth-child(3) {
  stroke: #f94a46 !important;
  background-color: #f94a46 !important; }
.order-colored-items :nth-child(4) {
  stroke: #ff2bfa !important;
  background-color: #ff2bfa !important; }
.order-colored-items :nth-child(5) {
  stroke: #FFD800 !important;
  background-color: #FFD800 !important; }

svg.smallchart {
  shape-rendering: crispEdges;
  overflow: visible; }
  svg.smallchart .axis--x path {
    /*display: none;*/ }
  svg.smallchart .axis path {
    opacity: .1;
    stroke-width: 1; }
  svg.smallchart .axis--y path {
    display: none; }
  svg.smallchart .tick line {
    opacity: .1;
    stroke-width: 1; }
  svg.smallchart .line.main {
    fill: none;
    stroke: #007852;
    shape-rendering: geometricPrecision; }
  svg.smallchart .area.main {
    display: none;
    fill-opacity: 1;
    fill: #007852; }

.hidden {
  display: none !important; }

.list-control {
  width: 100%;
  border: 1px solid rgba(0, 120, 82, 0.125);
  position: relative;
  /* to make scrollbars always visible */ }
  .list-control input.searchbox {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0, 120, 82, 0.125);
    border-radius: 2px;
    padding: 12px 20px 12px 12px;
    padding-left: 30px; }
  .list-control .list-group-item {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border: 1px solid rgba(0, 120, 82, 0.125);
    border-radius: 0; }
    .list-control .list-group-item:first-child {
      border: none; }
    .list-control .list-group-item label.form-check-label {
      width: 100%; }
    .list-control .list-group-item .badge {
      float: right; }
  .list-control .ul-container {
    height: 300px;
    position: relative; }
  .list-control .always-visible.ps > .ps__rail-y {
    opacity: 0.6; }
  .list-control .ps > .ps__rail-y {
    z-index: 2; }
  .list-control .badge-primary {
    background-color: #FAA12D; }

.range-control {
  width: 100%;
  border: 1px solid rgba(0, 120, 82, 0.125); }
  .range-control span.placeholder {
    display: inline-block;
    color: grey;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 120, 82, 0.125);
    border-radius: 2px;
    padding: 12px 20px 12px 12px;
    padding-left: 30px; }
  .range-control .form-check-label {
    margin-left: 1.25rem; }
  .range-control .control-content {
    height: 300px; }
  .range-control svg {
    shape-rendering: crispEdges;
    overflow: visible; }
    .range-control svg .axis--x path {
      /*display: none;*/ }
    .range-control svg .axis path {
      opacity: .1;
      stroke-width: 1; }
    .range-control svg .tick line {
      opacity: .1;
      stroke-width: 1;
      display: none; }
    .range-control svg .line.main {
      display: none;
      fill: none;
      stroke: #007852; }
    .range-control svg .area.main {
      fill-opacity: 1;
      fill: #007852; }

.small_multiples_item {
  display: inline-block; }
  .small_multiples_item h3 {
    font-size: 1em;
    font-weight: 600; }

#badge_control {
  border: 1px solid rgba(0, 120, 82, 0.125);
  counter-reset: index; }
  #badge_control .badge-row {
    padding-top: 1em;
    padding-bottom: 1em; }
    #badge_control .badge-row.countable:before {
      margin-top: 0.5em;
      width: 1em;
      text-align: center;
      border-radius: 25px;
      content: counters(index,".") " ";
      counter-increment: index; }
  #badge_control .badge-row-prefix {
    display: inline-block;
    min-height: 2.5em;
    line-height: 2.5em;
    min-width: 4em;
    padding: 0 0.5em;
    vertical-align: middle; }
  #badge_control .badge-item {
    display: inline-block;
    border-radius: 4px;
    background-color: #FAA12D;
    color: white;
    min-height: 2.5em;
    line-height: 2.5em;
    min-width: 4em;
    margin-left: 1em;
    padding: 0 0.5em;
    cursor: pointer;
    vertical-align: middle; }
    #badge_control .badge-item:after {
      content: "×";
      margin-left: 0.5em;
      font-weight: 800;
      font-size: 1.5em;
      vertical-align: middle; }

#filter_chain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  #filter_chain .sortable-chosen {
    border: 3px solid #FAA12D; }
  #filter_chain .chain_control {
    margin-bottom: 2em;
    position: relative; }
  #filter_chain .handle {
    position: absolute;
    z-index: 90;
    font-size: 1.5em;
    left: 20px;
    top: 14px;
    color: #999;
    cursor: move;
    cursor: -webkit-grabbing; }
  #filter_chain .remove {
    position: absolute;
    z-index: 90;
    font-size: 1.5em;
    right: 25px;
    top: 14px;
    color: #FAA12D;
    cursor: pointer; }

.plus-button-container {
  margin-bottom: 2em;
  position: relative;
  min-height: 348px; }
  .plus-button-container span.placeholder {
    display: inline-block;
    color: grey;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 120, 82, 0.125);
    border-radius: 2px;
    padding: 12px 20px 12px 12px; }

.plus-button {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 120, 82, 0.125);
  background-color: #F2F0F0;
  position: relative; }
  .plus-button i {
    font-size: 10em;
    color: white;
    cursor: pointer; }
    .plus-button i:hover {
      color: rgba(0, 120, 82, 0.125); }
  .plus-button .add-section {
    display: inline-flex; }
  .plus-button .select-section {
    width: 100%; }
  .plus-button .list-group-item {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border: 1px solid rgba(0, 120, 82, 0.125);
    border-radius: 0;
    cursor: pointer; }
    .plus-button .list-group-item:first-child {
      border: none; }
    .plus-button .list-group-item:hover {
      color: white;
      background-color: black; }
  .plus-button .ul-container {
    position: relative; }

#total_chart_legend {
  text-align: right; }
  #total_chart_legend .legend-item {
    display: inline-block;
    border-radius: 4px;
    color: white;
    line-height: 1.5;
    min-width: 4em;
    margin-left: 1em;
    padding: 0 0.5em;
    vertical-align: middle; }

body {
  color: #424242; }

h3 {
  margin-top: 2em; }

svg text {
  fill: #424242; }

a.dotted {
  border-bottom: 1px dotted;
  color: #5893fa; }
  a.dotted:hover {
    text-decoration: none;
    color: #FAA12D; }

.header-block {
  color: white;
  background-color: #007852;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 5em; }
  .header-block .header-text-block {
    max-width: 600px; }
  .header-block h3 {
    margin-top: 0;
    font-weight: 800; }
  .header-block a.dotted {
    color: #afd2fa; }

h6.header-badge {
  display: inline-block;
  text-transform: uppercase;
  color: #007852;
  border: 1px solid #007852;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-right: 0.3em; }

.export-button {
  background-color: transparent;
  vertical-align: baseline;
  line-height: 1.2;
  padding: 0;
  font-size: 16px;
  color: #007852;
  border: 1px solid #007852;
  border-radius: 0;
  padding-right: 0.4em;
  padding-left: 0.4em;
  transition: none; }
  .export-button svg {
    vertical-align: baseline;
    height: 0.8em; }
    .export-button svg path {
      fill: #007852; }
  .export-button:hover {
    color: white;
    background-color: #007852; }
    .export-button:hover svg path {
      fill: white; }

.footer h3 {
  font-weight: 800;
  font-size: 1.5em; }
.footer .credits {
  margin-top: 50px;
  margin-bottom: 100px; }
  .footer .credits img {
    max-width: 350px; }
.footer img.partner-logo {
  height: 70px;
  margin: 0 15px; }
.footer .partners {
  margin-bottom: 50px; }

/*# sourceMappingURL=application.css.map */
