#filter_chain {

  .plus-button {
    //todo
  }

  .chain_control {
    margin-bottom: 2em;
    position: relative;
  }

  .handle {
    position: absolute;
    z-index: 90;

    font-size: 1.5em;
    right: 24px;
    top: 14px;
    color: #999;

    cursor: move;
    cursor: -webkit-grabbing;
  }


}