#filter_chain {

  .plus-button {
    //todo
  }

  .sortable-chosen {
    border: 3px solid $orange;
  }

  .chain_control {
    margin-bottom: 2em;
    position: relative;
  }

  .handle {
    position: absolute;
    z-index: 90;

    font-size: 1.5em;
    left: 20px;
    top: 14px;
    color: #999;

    cursor: move;
    cursor: -webkit-grabbing;
  }

  .remove {
    position: absolute;
    z-index: 90;

    font-size: 1.5em;
    right: 25px;
    top: 14px;
    color: $orange;

    cursor: pointer;
  }


}