.line-chart-color-1 {
  stroke: $main_color;
  background-color: $main_color !important;
}

.line-chart-color-2 {
  stroke: #2c68fa;
  background-color: #2c68fa !important;
}

.line-chart-color-3 {
  stroke: #f94a46;
  background-color: #f94a46 !important;
}

.line-chart-color-4 {
  stroke: #ff2bfa;
  background-color: #ff2bfa !important;
}

.line-chart-color-5 {
  stroke: #FFD800;
  background-color: #FFD800 !important;
}


.order-colored-items {
  :nth-child(1) {
    stroke: $main_color !important;
    background-color: $main_color !important;
  }

  :nth-child(2) {
    stroke: #2c68fa !important;
    background-color: #2c68fa !important;
  }

  :nth-child(3) {
    stroke: #f94a46 !important;
    background-color: #f94a46 !important;
  }

  :nth-child(4) {
    stroke: #ff2bfa !important;
    background-color: #ff2bfa !important;
  }

  :nth-child(5) {
    stroke: #FFD800 !important;
    background-color: #FFD800 !important;
  }
}
