.line-chart-color-1 {
  stroke: $blue;
  background-color: $blue !important;
}

.line-chart-color-2 {
  stroke: #95f96a;
  background-color: #95f96a !important;
}

.line-chart-color-3 {
  stroke: #f94a46;
  background-color: #f94a46 !important;
}

.line-chart-color-4 {
  stroke: #ff2bfa;
  background-color: #ff2bfa !important;
}

.line-chart-color-5 {
  stroke: #ffee89;
  background-color: #ffee89 !important;
}


.order-colored-items {
  :nth-child(1) {
    stroke: $blue;
    background-color: $blue !important;
  }

  :nth-child(2) {
    stroke: #95f96a;
    background-color: #95f96a !important;
  }

  :nth-child(3) {
    stroke: #f94a46;
    background-color: #f94a46 !important;
  }

  :nth-child(4) {
    stroke: #ff2bfa;
    background-color: #ff2bfa !important;
  }

  :nth-child(5) {
    stroke: #ffee89;
    background-color: #ffee89 !important;
  }
}