
.list-control {
  width: 100%;

  input.searchbox {
    width: 100%;

    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;

    //font-size: 16px;
    //background-color: white;
    padding: 12px 20px 12px 12px;
    margin-top: 20px;
  }
}