.range-control {
  width: 100%;
  border: 1px solid rgba($blue, 0.125);

  span.placeholder {
    display: inline-block;
    color: grey;

    width: 100%;

    box-sizing: border-box;
    border-bottom: 1px solid rgba($blue, 0.125);
    border-radius: 2px;

    padding: 12px 20px 12px 12px;
  }

  .control-content {
    height: 300px;






  }


  $area_color: $blue;
  $path_color: $blue;

  svg{

    shape-rendering: crispEdges;
    overflow: visible;

    .axis--x path {
      /*display: none;*/
    }

    .axis path {
      opacity: .1;
      stroke-width: 1;
      //display: none;
    }

    .tick line {
      opacity: .1;
      stroke-width: 1;
      display: none;
    }

    .line.main {
      display: none;
      fill: none;
      stroke: $path_color;
    }

    .area.main {
      //display: none;
      fill-opacity: 1;
      fill: $area_color;
    }

  }

}
