$area_color: $blue;
$path_color: $blue;

svg.smallchart {

  shape-rendering: crispEdges;
  overflow: visible;

  .axis--x path {
    /*display: none;*/
  }

  .axis path {
    opacity: .1;
    stroke-width: 1;
    display: none;
  }

  .tick line {
    opacity: .1;
    stroke-width: 1;
    display: none;
  }

  .line.main {
    display: none;
    fill: none;
    stroke: $path_color;
  }

  .area.main {
    //display: none;
    fill-opacity: 1;
    fill: $area_color;
  }

}