
@import "base/variables";
@import "base/mixins";
@import "base/base";

@import "line_colors";
@import "smallchart";
@import "list_control";
@import "range_control";
@import "small_multiples_item";
@import "badges_control";
@import "filter_chain";
@import "total_chart_legend";


body {
  color: $main-text;
}

h3 {
  margin-top: 2em;
}

svg {
  text {
    fill: $main-text;
  }
}

.header-block {
  color: white;
  background-color: $main_color;

  padding-top: 2em;
  padding-bottom: 2em;

  .header-text-block {
    max-width: 600px;
  }

  h3 {
    margin-top: 0;
    font-weight: 800;
  }

  margin-bottom: 5em;
}

h6.header-badge {
  display: inline-block;
  text-transform: uppercase;
  color: $main_color;
  border: 1px solid $main_color;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-right: 0.3em;
}

.export-button {
  background-color: rgba(0,0,0,0);
  vertical-align: baseline;
  line-height: 1.2;
  padding: 0;
  font-size: 16px;
  color: $main_color;
  border: 1px solid $main-color;
  border-radius: 0;
  padding-right: 0.4em;
  padding-left: 0.4em;

  transition: none;

  svg {
    vertical-align: baseline;
    height: 0.8em;
    path {
      fill: $main_color
    }
  }

  &:hover {
    color: white;
    background-color: $main-color;

    svg {
      path {
        fill: white;
      }
    }

  }
}

.footer {
  h3 {
    font-weight: 800;
    font-size: 1.5em;
  }

  .credits {
    margin-top: 50px;
    margin-bottom: 100px;
    img {
      max-width: 350px;
    }
  }


  img.partner-logo {
    height: 70px;
    margin: 0 15px;
  }

  .partners {
    margin-bottom: 50px;
  }
}


