
@import "base/variables";
@import "base/mixins";
@import "base/base";

@import "smallchart";
@import "list_control";
@import "small_multiples_item";


body {
  color: $main-text;
}


svg {
  text {
    fill: $main-text;
  }
}

.header-block {
  color: white;
  background-color: $blue;

  padding-top: 2em;
  padding-bottom: 2em;

  .header-text-block {
    max-width: 600px;
  }

  h3 {
    font-weight: 800;
  }

  margin-bottom: 5em;
}




